<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.saijie.youka">

    <uses-sdk android:minSdkVersion="15"/>

    <!-- 二维码獲取权限 Start -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 二维码獲取权限 End -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <!-- <扫描二维码 界面 -->
        <activity
            android:name=".qr.CaptureActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <!-- 扫描二维码 结果界面 -->
        <activity
            android:name=".qr.ResultActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar"/>
        <activity
            android:name=".fn.SearchActivity"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".fn.AddressActivity"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".fn.FqjcActivity"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".details.SellerActivity"
            android:label="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:name=".fn.LoginActivity"
            android:label="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name=".fn.RegisterActivity">
        </activity>
        <activity android:name=".fn.YzmActivity">
        </activity>
        <activity android:name=".fn.SzmmActivity">
        </activity>
        <activity android:name=".details.SuborderActivity">
        </activity>
        <activity android:name=".details.PayorderActivity">
        </activity>
        <activity android:name=".reservation.ReservationActivity">
        </activity>
        <activity android:name=".reservation2.Reservation2Activity">
        </activity>
        <activity android:name=".fn.FriendActivity">
        </activity>
    </application>

</manifest>